 
# <center> Wrangle and Analyze "WeRateDogs" Twitter Data </center>
    
    
<center><i>GHAIDA .S ALTUWAIJRI </i></center>
<center><i>jul 21, 2020</i></center> 




## Table of Contents
- [Introduction](#intro)
- [Part I - Data Wrangling](#Wrangling)
   - [Gathering Data](#Wrangling)
   - [Assessing Data](#Assessing)
   - [Cleaning Data](#Cleaning)
- [Part II - Data Analysis and Visualization](#Analysis)


<a id='intro'></a>
### Introduction

This project aims to to get insightful information about dog ratings from the twitter page WeRateDogs™, while demonstrating advanced data wrangling and visualization techniques using various Python libraries. WeRateDogs is a Twitter account that rates people's dogs along with a humorous comment. Theseratings almost always have a denominator of 10, and a numerator that is usually greater than 10  because "they're good dogs". The higher thenumerator rating, the 'better' the dog. WeRateDogs has over 4 million followers and has received internationalmedia coverage.

<a id='Wrangling'></a>
### Data Wrangling



<a id='Wrangling'></a>
#### Gathering data
- Original ratings (no retweets)
- Not need to gather the tweets beyond August 1st, 2017

In [23]:
# Import pandas, NumPy, requests, tweepy, json
# import the needed libraries
import pandas as pd
import numpy as np
import requests
import zipfile
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import seaborn as sns
plt.style.use('bmh')
from PIL import Image
from io import BytesIO
%matplotlib inline
# import tweepy as tp
# import json

In [2]:
# load csv file into df
df = pd.read_csv('twitter-archive-enhanced.csv')
df.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

In [3]:
# Programmatically download file from website.
response = requests.get("https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv")
with open('image-predictions.tsv', mode='wb') as file:
    file.write(response.content)
    
# read 'image-predictions.tsv' in a df
df2 = pd.read_csv('image-predictions.tsv', sep='\t')
df2.head(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

I tried to set up a twitter developer account, but my application was not approved.

    The following code is the Twitter API code supported by Udacity.
    So, I will comment it as a matter of reproducibilty when rerun all the code cells in this Jupyter notebook.

In [4]:
# connect to the twitter api
#Use Tweepy library to query the Twitter API for each tweet's JSON data
# These are hidden to comply with Twitter's API terms and conditions
# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file


# consumer_key = 'xxxx xxxx xxxx xxxx'
# consumer_secret = 'xxxx xxxx xxxx xxxx'
# access_token = 'xxxx xxxx xxxx xxxx'
# access_secret = 'xxxx xxxx xxxx xxxx'


# auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# auth.set_access_token(access_token, access_secret)
# api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)


# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor

# Tweet IDs for which to gather additional data via Twitter's API
#tweet_ids = twitter_archive.tweet_id.values
#len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
#count = 0
#fails_dict = {}
#start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
#with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
#    for tweet_id in tweet_ids:
#        count += 1
#        print(str(count) + ": " + str(tweet_id))
#        try:
#            tweet = api.get_status(tweet_id, tweet_mode='extended')
#            print("Success")
#            json.dump(tweet._json, outfile)
#            outfile.write('\n')
#        except tweepy.TweepError as e:
#            print("Fail")
#            fails_dict[tweet_id] = e
#            pass
#end = timer()
#print(end - start)
#print(fails_dict)

In [14]:
# extract the file from the zipfile
with open('tweet-json.zip','rb') as f:
    z_tweets = zipfile.ZipFile(f)
    z_tweets.extractall()

# check for the extracted file
z_tweets.namelist()

['tweet-json copy']

In [29]:
# read the file in DataFrame
with open('tweet-json copy', 'r') as f:
    df3 = pd.read_json(f, lines= True, encoding = 'utf-8')

df3.head(1)

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,2017-08-01 16:23:56+00:00,892420643555336193,892420643555336192,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,39467,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN

In [26]:
df3.columns

Index(['created_at', 'id', 'id_str', 'full_text', 'truncated',
       'display_text_range', 'entities', 'extended_entities', 'source',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'is_quote_status', 'retweet_count', 'favorite_count',
       'favorited', 'retweeted', 'possibly_sensitive',
       'possibly_sensitive_appealable', 'lang', 'retweeted_status',
       'quoted_status_id', 'quoted_status_id_str', 'quoted_status'],
      dtype='object')

In [30]:
# select the needed columns : 'id', 'favorite_count','retweet_count'
df3 = df3.loc[:,['id','favorite_count','retweet_count']]
df3.head(3)

                   id  favorite_count  retweet_count
0  892420643555336193           39467           8853
1  892177421306343426           33819           6514
2  891815181378084864           25461           4328

<a id='Assessing'></a>
#### Assessing Data
- at least 8 quality issues
- at least 2 tidiness issues
- The fact that the rating numerators are greater than the denominators does not need to be cleaned. This unique rating system is a big part of the popularity of WeRateDogs.

<a id='Cleaning'></a>
#### Cleaning Data
- at least eight (8) quality issues
- at least two (2) tidiness issues 
- merging individual pieces of data

<a id='Analysis'></a>
### Data Analysis and Visualization

 - Each tweet's retweet count and favorite ("like") count at minimum, and any additional data you find interesting. Using the tweet IDs in the WeRateDogs Twitter archive
 - query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file.
 - Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count.
 
 
 #### Store
  - Store the clean DataFrame(s) in a CSV file with the main one named twitter_archive_master.csv
  
  
 #### Analysis and Visualization
  - At least three (3) insights and one (1) visualization must be produced.

##### Reporting for this Project

- Create a 300-600 word written report called wrangle_report.pdf or wrangle_report.html that briefly describes your wrangling efforts. This is to be framed as an internal document.

- Create a 250-word-minimum written report called act_report.pdf or act_report.html that communicates the insights and displays the visualization(s) produced from your wrangled data. This is to be framed as an external document, like a blog post or magazine article, for example.